.place { padding: 32px; max-width: 1080px; margin: auto; background: #f1f3e8; }
.controls { display: flex; gap: 16px; align-items: center; }
.details { margin-top: 700px; padding: 32px; border-top: 1px solid #507368; }
